language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"

notifications:
    email: false

install:
    - pip install setuptools scipy.optimize

script:
    - python setup.py nosetests
    # - python tests.py
