language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"

notifications:
    email: false
# command to install dependencies
install:
    - pip install setuptools
# command to run tests
script: python setup.py test
